/* #region body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: normal;
}
h1 {
    margin: 0;
    font-size: 56px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
}

h2 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.11111;
    color: #2E2F42;
}

h3 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

a {
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2E2F42;
}

p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    max-width: 100%;
}
.section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */
/* #region Header */
header {
    border-bottom: 1px solid #e7e9fc;
}
address {
    font-style: normal;
    margin: 0 0 24px auto;
    padding-top: 24px;
}
.container-header {
    display: flex;
}
.flex-header {
    display: flex;
    gap: 40px;
    margin: 0 24px 24px 24px;
    padding-top: 24px;
}
.contacts {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
    display: inline-block;
}
.contacts a:hover,
.contacts a:focus {
    color: #404BBF;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
}
.address {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    gap: 40px;
    margin-left: auto;
    color: #434455;
    padding: 24px 0;
    display: inline-block;
}
.address:hover,
.address:focus {
    color: #404BBF;
}
.logo-header {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    margin: 0 24px 24px 24px;
    padding: 24px 76px 0 0;
}
.span-header {
    color: #4d5ae5;
}
.link {
    padding: 24px 0;
    display: inline-block;
}
/* #endregion */
/* #region page-title */
.page-title {
    background-color: #2E2F42;
    color:#FFFFFF;
    padding: 188px 0;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* #endregion */
/* #region features */
.features {
    text-align: left;
}
.li-features {
    flex-basis: calc((100% - 3 * 24px)/4);
}
.flex-features {
    display: flex;
    gap: 24px;
}
/* #endregion */
/* #region hero */
.hero-page {
    background-color: #F4F4FD;
}
.team-image {
    background-color: #FFFFFF;
    max-width: calc((100% - 3 * 24px)/ 4);
    border-radius: 0 0 4px 4px;
}
.team-title {
    text-align: center;
    margin-bottom: 72px;
}
.team {
        text-align: center;
}
.flex-team {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.team-wrap {
    padding: 32px 16px;
}
/* #endregion */
/* #region portfolio */
.portfolio {
    text-align: left;
}
.flex-portfolio {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.portfolio-wrap {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img {
    flex-basis: calc((100% - 2 * 24px) / 3)
}
/* #endregion */
/* #region fotter */
.footer-p {
    color: #F4F4FD;
    margin-top: 16px;
    max-width: 264px;
}

footer {
    background-color: #2E2F42;
    color: #FFFFFF;
    padding: 100px 0;
}

.logo-footer {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.16667;
    padding: 0;
}

.span-footer {
    color: #4D5AE5;
}
/* #endregion */